@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

body {
  direction: rtl;
  background: #fafafa;
}


.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  background: #d4d4d8 !important
}

.swiper-pagination-bullet-active {
  border-radius: 999px !important;
  background: #ec4899 !important;
}
[data-sonner-toaster] {
  font-family: var(--font-vazirmatn, "Vazirmatn", sans-serif) !important;
}

[data-sonner-toast] {
  font-family: inherit !important;
}